$highlight-background   : #333;
$highlight-foreground   : #c5c8c6;
$highlight-comment      : #969896;
$highlight-red          : #c66;
$highlight-orange       : #e2792e;
$highlight-yellow       : #e4aa38;
$highlight-green        : #c2d13c;
$highlight-aqua         : #6ef6e4;
$highlight-blue         : #4398e2;
$highlight-purple       : #d891ee;
